<!DOCTYPE HTML>
<html>
      
<head>
 <script src="/components/jquery/jquery-2.2.3.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>

    <div class="user_setting">
        
     <form id="account_setting_form" method="POST" action ="/controllers/accountSettings">

     <label>Email</label>
     <input type="text" id="email_account" name="email" disabled>
     <div id="email_account_error" class="account_error"></div>

     <br>
     
     <label>Password</label>
     <input type="button" value="Change Password" class="btn btn_red">
     
     <br>
     <br>
     
     <label>First Name</label>
     <input type="text" id="firstName_account" name="firstName" >
     <div id="firstName_account_error" class="account_error"></div> 

     <br>
     
     <label>Last Name</label>
     <input type="text" id="lastName_account" name="lastName">
     <div id="lastName_account_error" class="account_error"></div>

     <br>
     
     <label>City</label>
     <input type="text" id="city_account" name="city">
     <div id="city_account_error" class="account_error"></div>

     <br>
     
     <label>Country</label>
     <input type="text" id="country_account" name="country" list="countryList">
     <datalist id="countryList">
     </datalist>
           <div id="country_account_error" class="account_error"></div>
     <br>
     
     <div class="action_btns">
                  
         <div class="save_changes">
             <input type="submit" id="save_change" value="Save Changes" class="btn btn_red">
             <div id="save_message" class="account_error" style="text-align:center;"></div>
         </div>
         
     </div>
     
     
           
    </form>

        
    </div>
    
    <script src="/partials/countries.js" type="text/javascript" charset="utf-8"></script> 
    <script src="/partials/nonFBlogin-controller.js" type="text/javascript" charset="utf-8"></script>
   <script src="/partials/account.js" type="text/javascript" charset="utf-8"></script>
   <link rel="stylesheet" href="/partials/login_style.css">
   
</body>
</html>