<div class="row">
	<div id="welcome" class="col-md-6">
		<h1>Hello this is the dashboard</h1>
	</div>
	<div id="messageNotification" class="col-md-6">
		<div id="messageHeader">
			<h3>Messages</h3>
		</div>
		<div id="recentMessage">
			<ul>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div id="recentPost" class="col-md-6">
		<div id="recentBuyPost">
			<h2>Recent Buy Posts</h2>
			<div id="buyPosts">
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
				</ul>
			</div>
		</div> 
		<div id="recentSellPost">
			<h2>Recent Sell Posts</h2>
			<div id="sellPosts">
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="newAds" class="col-md-6">
		<div id="adContainer">
			<h1>New Kicks Release</h1>
		</div>
	</div>
</div>