<p>Log into our App with Facebook</p>
<p><fb:login-button autologoutlink="true" scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button></p>
<p>OR</p>
<p>Log into our App without Facebook</p>
<p><button id="loginNotFB">Login</button></p>


 
<!-- 
AJAX is a developer's dream, because you can:

Update a web page without reloading the page
Request data from a server - after the page has loaded 
Receive data from a server - after the page has loaded
Send data to a server - in the background
 -->
 
<script  type="text/javascript">

// http://andwecode.com/create-popup-login-and-signup-form/

//note need to make sure app id is private
//set up fb sdk for javascript
window.fbAsyncInit = function () {
    "use strict";

    FB.init({
        appId      : '1540489982923433',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.0'
    });

    checkLoginState();

};

//set up fb sdk for javascript
(function (d, s, id) {
    "use strict";

    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
        return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

/*
Do AJAX call
No data is passed because all we need is a cookie
which we set in another part of code

If you want to use cookie, you can pass
B session string as POST data
*/
function appPropagation() {
    "use strict";

    $.ajax({
        url: '/login/login.php',
        dataType: 'json',
        success: function (data) {
            console.log("login.html: " + data);
                // do whatever you want.
                // data.status: bool, true => login
                // [data.message: string]
                // [data.more: string]
        }
    });
}

/*
Called when user authenticates via FB
ALlows FB to retrieve requested permission
FB.getAuthResponse().accessToken gets the facebook session string
We create cookie that will expire when user closes browser
Then we do AJAX call which register user in the system
*/
function login() {
    "use strict";

    document.cookie = 'fb_token=' + FB.getAuthResponse().accessToken;
    appPropagation();
}

/*
Logs user out
Destroys the cookie by making it expired
Make AJAX call to unset session, logging you out from system
*/
function logout() {
    "use strict";

    document.cookie = 'fb_token=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    appPropagation();
}

/*
Fired everytime user changes fb login status
*/
function loginStatusChangeCallback(response) {
    "use strict";

    if (response.status === 'connected') {
        login();
    } else {
        logout();
    }
}	


/*
check login status
called once per page load
*/
function checkLoginState() {
    "use strict";

    FB.getLoginStatus(function (response) {
        loginStatusChangeCallback(response);
    });
}

</script>