<style>
#pagination div { 
	display: inline-block; 
	margin-right: 5px; 
	margin-top: 5px 
}
#pagination .cell a { 
	border-radius: 3px; 
	font-size: 11px; 
	color: #333; 
	padding: 8px; 
	text-decoration:none; 
	border: 1px solid #d3d3d3; 
	background-color: #f8f8f8; 
}
#pagination .cell a:hover { 
	border: 1px solid #c6c6c6; 
	background-color: #f0f0f0;  
}

#pagination .cell_active span { 
	border-radius: 3px; 
	font-size: 11px; 
	color: #333; 
	padding: 8px; 
	border: 1px 
	solid #c6c6c6; 
	background-color: #e9e9e9; 
}
#pagination .cell_disabled span { 
	border-radius: 3px; 
	font-size: 11px; 
	color: #777777; 
	padding: 8px; 
	border: 1px solid #dddddd; 
	background-color: #ffffff; 
}
</style>

<div id="postTitle">
	<h1>Selling Shoes Post</h1>
</div>

<div id="pagination" class="firstPage">
	<h4> Display pagination </h4>
	<div><a href="#" id="1">1</a></div>
</div>


	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#createSellPost">I want to sell my shoes!</button>
	<!-- Modal -->
	<div class="modal fade" id="createSellPost" role="dialog">
	    <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		        <div class="modal-header">
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		          	<h4 class="modal-title">Please provide us the details about the shoes you want to sell</h4>
		        </div>
		        <form id="createShoePost" action="/controllers/shoe" method="POST">
		        	<div class="modal-body">
		          		<div class="form-group">
		          			<label for="sellPostTitle">Title:</label>
		          			<div class="input-group col-xs-12">
		          				<input class="form-control" type="text" name="title" id="sellPostTitle">
		          				<div id="title_sell_error" class="sell_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="sellShoeBrand">Shoe Brand:</label>
		          			<div class="input-group col-xs-12">
		          				<select class="form-control" name="brand" id="sellShoeBrand" required>>
		          					<option value="-- Select a Brand --"> -- Select a Brand -- </option>
		          					<option value="Nike">Nike</option>
		          					<option value="Jordan">Jordan</option>
		          					<option value="Adidas">Adidas</option>
		          					<option value="Puma">Puma</option>
		          					<option value="etc">Etc</option>
		          				</select>
		          				<div id="brand_sell_error" class="sell_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="sellShoeModel">Shoe Model:</label>
		          			<div class="input-group col-xs-12">
		          				<input class="form-control" type="text" name="model" id="sellShoeModel">
		          				<div id="model_sell_error" class="sell_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="sellShoeSize">Shoe Size: (IN US)</label>
		          			<div class="input-group col-xs-12">
		          				<select class="form-control" name="size" id="sellShoeSize" required>
		          					<option value=15> -- Select a Size -- </option>
									<option value=14>US 14</option>
									<option value=13>US 13</option>
									<option value=12>US 12</option>
									<option value=11>US 11</option>
									<option value=10>US 10</option>
									<option value=9>US 9</option>
									<option value=8>US 8</option>
									<option value=7>US 7</option>
									<option value=6>US 6</option>
		          				</select>
		          				<div id="size_sell_error" class="sell_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="sellShoeCond">Shoes Condition:</label>
		          			<div class="input-group col-xs-12">
		          				<select class="form-control" name="cond" id="sellShoeCond" required>
		          					<option value=6> -- Select a Quality -- </option>
									<option value=5>Brand New</option>
									<option value=4>Passed as Deadstock / worn once or twice</option>
									<option value=3>Worn less than 10 times</option>
									<option value=2>Used</option>
									<option value=1>Beaters</option>
		          				</select>
		          				<div id="condition_sell_error" class="sell_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="sellShoeDescription">Shoe Description:</label>
		          			<div class="input-group col-xs-12">
		          				<input class="form-control" type="text" name="description" id="sellShoeDescription">
		          				<div id="description_sell_error" class="sell_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="sellShoePrice">Price:</label>
		          			<div class="input-group col-xs-12">
		          				<input class="form-control" type="text" name="price" id="sellShoePrice">
		          				<div id="price_sell_error" class="sell_error"></div>
		          			</div>
		          		</div>
		        	</div>
		        	<div class="modal-footer">
						<button type="button" class="btn btn-blog pull-left" data-dismiss="modal">
						Close
						</button>
						<button id="createSellShoeButton" type="submit" class="btn btn-blog pull-right">
						Create
						</button>
					</div>
		        </form>
		    </div>
	    </div>
	</div>

<script src="/partials/sellPost-controller.js" type="text/javascript" charset="utf-8"></script>
