<html>
<head>

    <script src="/components/jquery/jquery-2.2.3.js" type="text/javascript" charset="utf-8"></script>
    <link href="/components/bootstrap-3.3.6-dist 2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/components/bootstrap-3.3.6-dist 2/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/components/layout.css" rel="stylesheet">
    <script src="/components/bootstrap-3.3.6-dist 2/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/components/font-awesome-4.6.3/css/font-awesome.min.css">

	<script src="/partials/fblogin-controller.js" type="text/javascript" charset="utf-8"></script>
    <script src="/partials/nonFBlogin-controller.js" type="text/javascript" charset="utf-8"></script>
    <script src="/partials/authentication.js" type="text/javascript" charset="utf-8"></script>

    <title>ShoeTaku</title>

	<style>
		#listofPages div { 
			display: inline-block;
			margin-left: 5px;
			margin-right: 5px;
		}
	</style>

</head>
<body> 
	<nav class="navbar navbar-default">
	    <div class="container-fluid">

	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a id="mainDashBoard" class="navbar-brand" href="dashboard.html">ShoeTaku</a>
	        </div>

	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav">
	                <li><a id="sellPage" class="page" data-page="sell" href="sell.html">Sell <span class="sr-only">(current)</span></a></li>
	                <li><a id="wantedPage" class="page" data-page="wanted" href="wanted.html">Wanted</a></li>
	                <li><a id="accountPage" class="page" data-page="account" href="account.html">Account</a></li>
	            </ul>

	            <ul class="nav navbar-nav navbar-right">
	                <li><a id="logout">Logout</a></li>
	            </ul>
	        </div> <!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->

	</nav>

<div id="postTitle">
	<h1>Wanted Shoes Post</h1>
</div>


<div id="postInfoNav" class="row">
	<div class="col-md-4">
		title
	</div>
	<div class="col-md-4">
		price
	</div>
	<div class="col-md-4">
		created 
	</div>
</div>

<div id="articleArea" class="row">

	<div class="col-md-4 postTitle">
		<a href="#"></a>
	</div>
	<div class="col-md-4 postPrice"></div>
	<div class="col-md-4 postCreated"></div>

	<div class="col-md-4 postTitle">
		<a href="#"></a>
	</div>
	<div class="col-md-4 postPrice"></div>
	<div class="col-md-4 postCreated"></div>

	<div class="col-md-4 postTitle">
		<a href="#"></a>
	</div>
	<div class="col-md-4 postPrice"></div>
	<div class="col-md-4 postCreated"></div>

	<div class="col-md-4 postTitle">
		<a href="#"></a>
	</div>
	<div class="col-md-4 postPrice"></div>
	<div class="col-md-4 postCreated"></div>

	<div class="col-md-4 postTitle">
		<a href="#"></a>
	</div>
	<div class="col-md-4 postPrice"></div>
	<div class="col-md-4 postCreated"></div>

	<div class="col-md-4 postTitle">
		<a href="#"></a>
	</div>
	<div class="col-md-4 postPrice"></div>
	<div class="col-md-4 postCreated"></div>

	<div class="col-md-4 postTitle">
		<a href="#"></a>
	</div>
	<div class="col-md-4 postPrice"></div>
	<div class="col-md-4 postCreated"></div>

	<div class="col-md-4 postTitle">
		<a href="#"></a>
	</div>
	<div class="col-md-4 postPrice"></div>
	<div class="col-md-4 postCreated"></div>

	<div class="col-md-4 postTitle">
		<a href="#"></a>
	</div>
	<div class="col-md-4 postPrice"></div>
	<div class="col-md-4 postCreated"></div>

	<div class="col-md-4 postTitle">
		<a href="#"></a>
	</div>
	<div class="col-md-4 postPrice"></div>
	<div class="col-md-4 postCreated"></div>

</div>

<div id="listofPages">
	<h4> Display pagination </h4>
	<a href="#" id="1"></a>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadChoice">I want to buy shoes!</button>
<div class="modal fade" id="uploadChoice" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		          	<h4 class="modal-title">Please provide us the details about the shoes you want to buy</h4>
		    </div>
			<form id="wantedPostSubmit" action="/controllers/shoe" method="POST">
		        	<div class="modal-body">
		        		<div class="form-group">
		          			<label for="wantedPostImage">Image:</label>
		          			<div class="input-group col-xs-12">
		          				<input class="form-control" type="file" name="title" id="wantedPostImage">
		          				<div id="image_wanted_error" class="wanted_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="wantedPostTitle">Title:</label>
		          			<div class="input-group col-xs-12">
		          				<input class="form-control" type="text" name="title" id="wantedPostTitle">
		          				<div id="title_wanted_error" class="wanted_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="wantedShoeBrand">Shoe Brand:</label>
		          			<div class="input-group col-xs-12">
		          				<select class="form-control" name="brand" id="wantedShoeBrand" required>
		          					<option value="-- Select a Brand --"> -- Select a Brand -- </option>
		          					<option value="Nike">Nike</option>
		          					<option value="Jordan">Jordan</option>
		          					<option value="Adidas">Adidas</option>
		          					<option value="Puma">Puma</option>
		          					<option value="etc">Etc</option>
		          				</select>
		          				<div id="brand_wanted_error" class="wanted_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="wantedShoeModel">Shoe Model:</label>
		          			<div class="input-group col-xs-12">
		          				<input class="form-control" type="text" name="model" id="wantedShoeModel">
		          				<div id="model_wanted_error" class="wanted_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="wantedShoeSize">Shoe Size: (IN US)</label>
		          			<div class="input-group col-xs-12">
		          				<select class="form-control" name="size" id="wantedShoeSize" required>
		          					<option value=15> -- Select a Size -- </option>
									<option value=14>US 14</option>
									<option value=13>US 13</option>
									<option value=12>US 12</option>
									<option value=11>US 11</option>
									<option value=10>US 10</option>
									<option value=9>US 9</option>
									<option value=8>US 8</option>
									<option value=7>US 7</option>
									<option value=6>US 6</option>
		          				</select>
		          				<div id="size_wanted_error" class="wanted_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="wantedShoeCond">Shoes Condition:</label>
		          			<div class="input-group col-xs-12">
		          				<select class="form-control" name="cond" id="wantedShoeCond" required>
		          					<option value=6> -- Select a Quality -- </option>
									<option value=5>Brand New</option>
									<option value=4>Passed as Deadstock / worn once or twice</option>
									<option value=3>Worn less than 10 times</option>
									<option value=2>Used</option>
									<option value=1>Beaters</option>
		          				</select>
		          				<div id="condition_wanted_error" class="wanted_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="wantedShoeDescription">Shoe Description:</label>
		          			<div class="input-group col-xs-12">
		          				<input class="form-control" type="text" name="description" id="wantedShoeDescription">
		          				<div id="description_wanted_error" class="wanted_error"></div>
		          			</div>
		          		</div>
		          		<div class="form-group">
		          			<label for="wantedShoePrice">Price:</label>
		          			<div class="input-group col-xs-12">
		          			<input class="form-control" type="text" name="price" id="wantedShoePrice">
		          			<div id="price_wanted_error" class="wanted_error"></div>
		          		</div>
		          	</div>
		        </div>
		        <div class="modal-footer">
					<button type="button" class="btn btn-blog pull-left" data-dismiss="modal">
						Close
					</button>
					<button id="createWantedShoeButton" type="submit" class="btn btn-blog pull-right">
						Create
					</button>
				</div>
		    </form>
		</div>
	</div>
</div>

<script src="/partials/wantedPage-controller.js" type="text/javascript" charset="utf-8"></script>
<script src="/partials/pagination-wanted.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
