<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_wanted">New Wanted</button>

<div class="modal fade" id="1new_wanted" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title center" id="myModalLabel">Wanted</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new_wanted" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<form action="/controllers/shoe" method="POST">
				<div class="modal-body">
					<div class="form-group">
						<label for="url">Shoe Url:</label>
						<div class="input-group col-xs-12">
						  <input class="form-control" name="imageUrl" type="text" id="url">
						</div>
					</div>
					<div class="form-group">
						<label for="isWanted">Where to upload:</label>
						<div class="dropdown">
							<input class="form-control btn btn-default dropdown-toggle" id="isWanted" name="isWanted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" placeholder="Choose Category">
						</div>
					</div>
					<div class="form-group">
						<label for="url">Shoe Brand:</label>
						<div class="input-group col-xs-12">
						  <input class="form-control" name="brand" type="text" id="url">
						</div>
					</div>
					<div class="form-group">
						<label for="url">Shoe Model:</label>
						<div class="input-group col-xs-12">
						  <input class="form-control" name="model" type="text" id="url">
						</div>
					</div>
					<div class="form-group">
						<label for="url">Shoe Size:</label>
						<div class="input-group col-xs-12">
						  <input class="form-control" name="size" type="text" id="url">
						</div>
					</div>
					<div class="form-group">
						<label for="url">Shoe Condition:</label>
						<div class="input-group col-xs-12">
						  <input class="form-control" name="itemCondition" type="text" id="url">
						</div>
					</div>
					<div class="form-group">
						<label for="url">Shoe Description:</label>
						<div class="input-group col-xs-12">
						  <input class="form-control" name="description" type="text" id="url">
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-blog pull-left" data-dismiss="modal">
					Close
					</button>
					<button type="submit" class="btn btn-blog pull-right">
					Upload
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
	
	$("#test").click(function(){
		var url = "/controllers/testing/tests";
		
		var param = JSON.stringify({test:test});
		$.ajax({
			url: url,
			data: param,
			dataType: "json",
			success: function(data, textStatus, jqXHR){
				console.log(data);
			},
			error: function(jqXHR, textStatus, error){
				//debug.log(textStatus + ":" + error);
			},
			complete: function(jqXHR, textStatus){
				//debug.log("ajax call complete");
			}
		})
	});
});
</script>
